<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
<!--        RahulBhai-->
        <listener class-name="com.agp.qa.extentReportListeners.ListenerTest"></listener>
<!--        NaveenBhai-->
<!--        <listener class-name="com.agp.qa.extentReportListeners.ExtentReportListener"></listener>-->
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/Jignesh/Intellij Project/AGP/AGP">
        <classes>
            <class name="com.agp.qa.test.login.LoginPageTest">
                <methods>
                    <include name="loginTest"/>
                    <include name="loginTest1"/>
                    <include name="loginTest2"/>
                </methods>
            </class>
<!--            <class name="com.agp.qa.test.domestic.DomesticConsumerAgreementPrintPageTest">-->
<!--                <methods>-->
<!--                    <include name="consumerAgreementPrintTest"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.agp.qa.test.domestic.DomesticUploadRegistrationFormAndDocumentsPageTest">-->
<!--                <methods>-->
<!--                    <include name="domesticUploadRegistrationFormAndDocumentsPage"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="com.agp.qa.test.commercial.CommercialConsumerRegistrationTest">-->
<!--                <methods>-->
<!--                    <include name="consumerAgreementPrintTest"/>-->
<!--                </methods>-->
<!--            </class>-->

        </classes>
    </test>
</suite>